################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjetoJogo/bin/Debug
/ProjetoJogo/obj/Debug
